@font-face {
    font-family: 'Super-Mario';
    src:url('fonts/Super-Mario.ttf.woff') format('woff'),
        url('fonts/Super-Mario.ttf.svg#Super-Mario') format('svg'),
        url('fonts/Super-Mario.ttf.eot'),
        url('fonts/Super-Mario.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Play';
    src:url('fonts/Play-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Play';
    src:url('fonts/Play-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Play'; 
    min-height: 100vh;
}

nav {
    height: 2.5rem;
    padding: 10px;
    color: white;
    background-color: black;
}

.nav-container {
    max-width: 300px;
    margin:auto;
    text-align: center;
}

.nav-container p {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

.return-home {
    cursor: pointer;
}

#wrapper {
    position: relative;
    min-height: 90vh;
    min-width: 100vw;
    background-image: url("../images/marioBG.jpeg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom; 
    background-color: #021234;
    overflow: auto;
}

main { 
    position: absolute;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

main::after {
    background-image: url("../images/white.jpeg");
    background-repeat: repeat;
    opacity: 50%;
    content: "";
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    border-radius: 5px;
}

#welcome{
    display: flex;
    flex-direction: column;
}

#welcome-header {
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: 'Super-Mario';
}

#welcome-header p {
    margin: 0px;
    font-size: 3em;

}

#instructions {
    font-size: 1.3em;
}

#welcome-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-form {
    text-align: center;
}

form input {
    border-radius: 5px;
    border: 1px solid black;
}

form input:focus {
    background-color: lightgray;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #44af35;
}


input:focus + .slider {
    box-shadow: 0 0 1px #44af35;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

input {
    font-family: 'Super-Mario';
    font-size: 1.5em;
}

.play-now {
    font-family: 'Play';
    font-weight: bold;
    padding: 3px 10px;
    background-color: #f8d800;
    border:none;
    box-shadow: 0 0 1px #f8d800;
    cursor:pointer;
    font-size: 1.5em;
    margin: 0 10px;
}

header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px 0 30px;
    font-size: 1.2em;
    position: relative;
}

header p {
    margin: 10px;
}

#card-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
}

.card-row {
    display: flex;
}

#block{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1; 
    display: none;
}

.card-container {
    margin: 3px;
    position: relative;
    width: 115px;
    height: 115px;
}

.card-container img {
    position: absolute;
    width: 100%; 
    border-radius: 5px;
}

.revealed > img:nth-child(2){
    display: none;
}

.matchedCards img {
    display:none;
}

.pause-restart {
    background-color: #e35911;
    border-top: 2px solid #f7c7a8;
    border-left: 2px solid #f7c7a8;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    box-sizing: border-box;
    padding-bottom: 5px;
    border-radius: 5px;
    margin: 10px;
    font-size: 0.8em;
}

.pause-restart > div {
    text-align: center;
    width: 100px;
    
}

.pause-restart p {
    margin: 10px;
}

.progress-bar {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.9em;
}

.progress-bar > div {
    width: 33%;
    padding: 10px 0 10px 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
}

.progress-bar p {
    margin: auto;
}

.progress-bar p:nth-child(2) {
    font-size: 1.8em;
}

.progress-bar > div:nth-child(2), 
.progress-bar > div:nth-child(3) {
    border-left: 1px solid black;
}

#pauseButton, #playButton, #restart {
    cursor: pointer;
}

#gameWrapper{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    z-index: 10;
    box-sizing: border-box;
    padding: 20px;
    width: 300px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-body {
    padding-top: 10px;
}

#overlay {
    position: fixed;
    background-color: black;
    z-index: 9;
    opacity: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scale(0);
    transition: 200ms ease-in-out;
}

#overlay.active {
    transform: scale(1);
}

#congratulations{
    display: none;
    flex-direction: column;
}



.button-container {
    align-self: center;
}

footer{
    background-color: black;
    color: white;
}

footer a {
    color: white;
}

.footer-container {
    max-width: 300px;
    margin:auto;
    text-align: center;
    padding:10px;
    box-sizing: border-box;
}

.footer-item {
    width: 50%;
    text-align: center;
    float: left;
}


@media (max-width: 1200px) {
    main {
        width: 80%;
    }
    #card-grid{
        align-content: center;
    }
    .card-row{
        max-width: 500px;
        justify-content: space-evenly;
    }
    .card-container {
        padding: 0px;
        margin: 5px;
    }
}

@media (max-width: 800px) {
    main {
        width: 80%;
    }
    .mario{
        width: 75px;
    }
    .card-row{
        width:100%;
    }
    .card-container {
        width: 25%;
        height: auto;
       padding-top: 25%;
    }
    .card-container img{
        top: 0;
    }
    .progress-bar {
        padding: 5px;
    }
    .progress-bar div {
        padding: 0;
    }

    #welcome-header p {
        font-size: 2.5em;
    }

    #instructions {
        font-size: 1.1em;
    }
}

@media (max-height: 650px) {
    .card-row {
        max-height: 80px;
        margin-bottom: 5px;
    }
    .card-container img {
        max-height: 80px;
        width: auto;
    }
}

