body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/marioBG.jpeg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom; 
    background-color: #021234;
}

#wrapper { 
    padding: 20px;
    width: 50%;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper::after {
    background-image: url("../images/white.jpeg");
    background-repeat: repeat;
    opacity: 50%;
    content: "";
    opacity: 0.8;
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  border-radius: 5px;
}


header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px 0 30px;
    font-size: 1.4em;
    position: relative;
}

.mario {
    width: 100px;
    position: absolute;
    top: -25px;
    right:70px;
}

#card-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.card-row {
    display: flex;
    flex-direction: row;
}

.card-container {
    margin: 10px;
    position: relative;
    width: 125px;
    height: 125px;
}

.card-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.revealed > img:nth-child(2){
    display: none;
}

.matchedCards img {
    display:none;
}

.progress-bar {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.progress-bar > div {
    width: 33%;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.progress-bar p {
    margin: 0;
}

.progress-bar p:nth-child(2) {
    font-size: 1.8em;
}

.progress-bar > div:nth-child(2), 
.progress-bar > div:nth-child(3) {
    border-left: 1px solid black;
}

#gameWrapper{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#congratulations{
    display: none;
}

@media (max-width: 1200px) {
    #wrapper{
        width: 70%;
    }
    #card-grid{
        align-content: center;
    }
    .card-row{
        width: 70%;
    }
    .card-container {
        width: 25%;
        padding: 5px;
    }
}

@media (max-width: 700px) {
    #wrapper{
        width: 80%;
    }
}